In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Credit.csv")

In [3]:
df.head(5)

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status,residing_since,age,inst_plans,num_credits,job,status
0,A11,6,A34,1169,A65,A75,4,A93,4,67,A143,2,A173,0
1,A12,48,A32,5951,A61,A73,2,A92,2,22,A143,1,A173,1
2,A14,12,A34,2096,A61,A74,2,A93,3,49,A143,1,A172,0
3,A11,42,A32,7882,A61,A74,2,A93,4,45,A143,1,A173,0
4,A11,24,A33,4870,A61,A73,3,A93,4,53,A143,2,A173,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   checkin_acc        1000 non-null   object
 1   duration           1000 non-null   int64
 2   credit_history     1000 non-null   object
 3   amount             1000 non-null   int64
 4   savings_acc        1000 non-null   object
 5   present_emp_since  1000 non-null   object
 6   inst_rate          1000 non-null   int64
 7   personal_status    1000 non-null   object
 8   residing_since     1000 non-null   int64
 9   age                1000 non-null   int64
 10  inst_plans         1000 non-null   object
 11  num_credits        1000 non-null   int64
 12  job                1000 non-null   object
 13  status             1000 non-null   int64
dtypes: int64(7), object(7)
memory usage: 109.5+ KB

In [5]:
df.status.value_counts()

0    700
1    300
Name: status, dtype: int64

In [9]:
X_features = list( df.columns )

In [10]:
X_features

['checkin_acc',
 'duration',
 'credit_history',
 'amount',
 'savings_acc',
 'present_emp_since',
 'inst_rate',
 'personal_status',
 'residing_since',
 'age',
 'inst_plans',
 'num_credits',
 'job',
 'status']

In [11]:
X_features.remove( 'status' )
X_features

['checkin_acc',
 'duration',
 'credit_history',
 'amount',
 'savings_acc',
 'present_emp_since',
 'inst_rate',
 'personal_status',
 'residing_since',
 'age',
 'inst_plans',
 'num_credits',
 'job']

In [12]:
X_features = ['checkin_acc',
 'credit_history',
 'savings_acc',
 'present_emp_since',
 'personal_status',
 'inst_plans',
 'job']

In [14]:
encoded_credit_df = pd.get_dummies( df[X_features], drop_first = True )

In [15]:
import statsmodels.api as sm
Y = df.status
X = sm.add_constant( encoded_credit_df )

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,  test_size = 0.7,  random_state = 100)

In [20]:
logis = sm.Logit(y_train, X_train)
logis_model = logis.fit()

Optimization terminated successfully.
         Current function value: 0.488024
         Iterations 6

In [21]:
logis_model.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                           Results: Logit
=====================================================================
Model:                Logit             Pseudo R-squared:  0.218
Dependent Variable:   status            AIC:               340.8142
Date:                 2020-08-25 16:09  BIC:               429.7050
No. Observations:     300               Log-Likelihood:    -146.41
Df Model:             23                LL-Null:           -187.30
Df Residuals:         276               LLR p-value:       1.6284e-08
Converged:            1.0000            Scale:             1.0000
No. Iterations:       6.0000
---------------------------------------------------------------------
                       Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
---------------------------------------------------------------------
const                  2.8852   1.4025  2.0571 0.0397  0.1363  5.6341
checkin_acc_A12       -0.5013   0.3879 -1.2925 0.1962 -1.2616  0.2589
checkin_acc_A13       -2.1223   0.6728 -3.1543 0.0016 -3.4411 -0.8036
checkin_acc_A14       -1.9826   0.4078 -4.8622 0.0000 -2.7818 -1.1834
credit_history_A31    -0.4079   0.8777 -0.4647 0.6421 -2.1281  1.3124
credit_history_A32    -0.5559   0.5857 -0.9491 0.3426 -1.7039  0.5921
credit_history_A33     0.4801   0.7363  0.6521 0.5144 -0.9630  1.9233
credit_history_A34    -1.5389   0.6437 -2.3908 0.0168 -2.8005 -0.2773
savings_acc_A62        0.4542   0.5472  0.8302 0.4065 -0.6182  1.5267
savings_acc_A63        0.6115   0.6519  0.9381 0.3482 -0.6661  1.8892
savings_acc_A64       -0.8416   0.7218 -1.1661 0.2436 -2.2563  0.5730
savings_acc_A65       -0.3968   0.4272 -0.9287 0.3530 -1.2341  0.4405
present_emp_since_A72  1.0625   0.7962  1.3344 0.1821 -0.4980  2.6230
present_emp_since_A73  1.3580   0.7791  1.7432 0.0813 -0.1689  2.8850
present_emp_since_A74  0.6790   0.8069  0.8415 0.4001 -0.9025  2.2605
present_emp_since_A75  1.3068   0.7962  1.6412 0.1008 -0.2538  2.8673
personal_status_A92   -1.0501   0.6191 -1.6961 0.0899 -2.2636  0.1634
personal_status_A93   -0.3438   0.6004 -0.5725 0.5670 -1.5205  0.8330
personal_status_A94   -0.9564   0.7621 -1.2549 0.2095 -2.4500  0.5373
inst_plans_A142        0.7056   0.8574  0.8230 0.4105 -0.9748  2.3860
inst_plans_A143       -0.5579   0.4161 -1.3406 0.1800 -1.3735  0.2577
job_A172              -2.7810   1.2326 -2.2562 0.0241 -5.1969 -0.3651
job_A173              -2.1038   1.1828 -1.7786 0.0753 -4.4221  0.2146
job_A174              -1.5120   1.1460 -1.3194 0.1870 -3.7581  0.7341
=====================================================================

"""

In [22]:
def get_significant_vars( lm ):
    var_p_vals_df = pd.DataFrame( lm.pvalues )
    var_p_vals_df['vars'] = var_p_vals_df.index
    var_p_vals_df.columns = ['pvals', 'vars']
    return list( var_p_vals_df[var_p_vals_df.pvals <= 0.05]['vars'] )
significant_vars = get_significant_vars( logis_model )
significant_vars

['const',
 'checkin_acc_A13',
 'checkin_acc_A14',
 'credit_history_A34',
 'job_A172']